[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
wheel = "*"
crypto_ticker = {git = "https://github.com/RoelandMatthijssens/cryptobot-ticker.git"}

[dev-packages]

[requires]
python_version = "3.8"
